<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Mostrar Estudiantes</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
	<h1>Estudiantes</h1>
	<br>
	<br>
	<table class="table">
		<thead>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Carne</th>
			<th>Carrera</th>
		</thead>
		<th:block th:each="estudiante,row:${estudiantes}">
			<tr>
				<th th:text="${estudiante.codigoEstudiante}" />
				<th th:text="${estudiante.nombre}" />
				<th th:text="${estudiante.apellido}" />
				<th th:text="${estudiante.edad}" />
				<th th:text="${estudiante.estadoDelegate}" />
			</tr>
		</th:block>
	</table>
	<br>
	<br>
	<div class="card mb-4">
		<div class="card-body">
			<h4>Mostrar Estudiante</h4>
			<form method="post" th:action="@{/mostrarEstudiante}">
				<div class="form-group">
					<label class="small mb-1">Buscar por codigo de estudiante </label><input
						class="form-control py-4" type="number" style="width: 400px"
						name="codigo" /> <br>
					<div class="form-group">
						<input type="submit" class="btn btn-primary" value="Buscar"></a>
					</div>
			</form>
			<br>
			<h4>Borrar Estudiante</h4>
			<form method="post" th:action="@{/borrarEstudiante}">
				<div class="form-group">
					<label class="small mb-1">Borrar por codigo de estudiante </label><input
						class="form-control py-4" type="number" style="width: 400px"
						name="codigo" /> <br>
					<div class="form-group">
						<input type="submit" class="btn btn-danger" value="Borrar"></a>
					</div>
			</form>
			<br>
			<h4>Editar Estudiante</h4>
			<form method="post" th:action="@{/editarEstudiante}">
				<div class="form-group">
					<label class="small mb-1">Editar por codigo de estudiante </label><input
						class="form-control py-4" type="number" style="width: 400px"
						name="codigo" /> <br>
					<div class="form-group">
						<input type="submit" class="btn btn-primary" value="Editar">
					</div>
			</form>
			<h4>
				Filtrar Estudiante
				</h3>
				<form th:action="@{/Filtrar}" method="post">
					<div class="form-group">
						<label class="small mb-1">Ingresar la cadena por la que desea filtrar:
						</label><input class="form-control py-4" type="text"
							style="width: 400px" name="nombre" /> <br>
						<div class="form-group">
							<input type="submit" class="btn btn-primary" value="Filtrar">
						</div>
					</div>
				</form>
		</div>
		<br>
		<hr>
		<a href="/insertarEstudiante" class="btn btn-primary" role="button">Ingresar
			Estudiante</a>
		<a href="/estudiante" class="btn btn-primary" role="button">HOME</a>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
